{% load staticfiles %}

<link rel="stylesheet" type="text/css"
  href="{% static 'camsite/css/bootstrap.min.css' %}" >
<link rel="stylesheet" type="text/css"
    href="{% static 'camsite/css/stylish-portfolio.css' %}" >
<link rel="stylesheet" type="text/css"
      href="{% static 'camsite/font-awesome/css/font-awesome.min.css' %}" >
<link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" >

<!-- Callout -->

<section  class="callout">
    <div class="text-vertical-center">
      <a href="{% url 'logout' %}" class="btn btn-dark btn-lg">Logout</a>

            <iframe src="http://camapp.cloudapp.net:4000" class="callout" ></iframe>
    </div>
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="">
        <div class="row text-center">
                <h2>Streaming</h2>
                <hr class="small">

                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Servicio de Streaming</strong>

                            </h4>

                        </div>



              </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
