{% load staticfiles %}

<link rel="stylesheet" type="text/css"
  href="{% static 'camsite/css/bootstrap.min.css' %}" >
<link rel="stylesheet" type="text/css"
    href="{% static 'camsite/css/stylish-portfolio.css' %}" >
<link rel="stylesheet" type="text/css"
      href="{% static 'camsite/font-awesome/css/font-awesome.min.css' %}" >
<link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" >

<!--  <link href="css/bootstrap.min.css" rel="stylesheet">
     <link href="css/stylish-portfolio.css" rel="stylesheet">
     <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
-->
    <header id="top" class="header">
        <div class="text-vertical-center">

          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <h1>Prueba Camilo Pedraza</h1>
            <h3>skype : ekmilo</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="login" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center lead">
                  {% block main %}
                      <div id="login">
                          <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
                          {% csrf_token %}
                          {% if next %}
                              <input type="hidden" name="next" value="{{ next }}" />
                          {% endif %}
                          <div class="control-group">
                              <label class="control-label" for="username">Usuario</label>
                              <div class="controls">
                                  <input type="text" id="username" name="username"  placeholder="Username">
                              </div>
                          </div>
                          <div class="control-group">
                              <label class="control-label" for="password">Contraseña</label>
                              <div class="controls">
                                  <input type="password" name="password" id="password" placeholder="Password">
                              </div>
                          </div>
                          <div class="control-group">
                              <div class="controls">
                                  <button type="submit" class="btn">Login</button>
                                  <p><a href="{% url 'newuser' %}">Crear nuevo usuario?</a></p>
                                  <p><a href="{% url 'password_reset_recover' %}">Contraseña olvidada?</a></p>

                              </div>
                          </div>
                          </form>


                      </div>
                  {% endblock %}

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section id="about" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Camilo Pedraza</h2>
                    <hr class="small">

                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
