{% load staticfiles %}

<link rel="stylesheet" type="text/css"
  href="{% static 'camsite/css/bootstrap.min.css' %}" >
<link rel="stylesheet" type="text/css"
    href="{% static 'camsite/css/stylish-portfolio.css' %}" >
<link rel="stylesheet" type="text/css"
      href="{% static 'camsite/font-awesome/css/font-awesome.min.css' %}" >
<link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" >

        <section id="login" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center lead">
                      {% block main %}
                          <div id="login">
                              <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
                              {% csrf_token %}
                              <div class="control-group">
                                  <label class="control-label" for="username">Usuario</label>
                                  <div class="controls">
                                      <input type="text" id="username" name="username"  placeholder="Username">
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label" for="password">Contraseña</label>
                                  <div class="controls">
                                      <input type="password" name="password" id="password" placeholder="Password">
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label" for="email">Email</label>
                                  <div class="controls">
                                      <input type="email" name="email" id="email" placeholder="Email">
                                  </div>
                              </div>
                              <div class="control-group">
                                  <div class="controls">
                                      <button type="submit" class="btn">Registrar</button>
                                      <p><a href="{% url 'login' %}">Regresar</a></p>
                                  </div>
                              </div>
                              </form>


                          </div>
                      {% endblock %}


                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
