{% load i18n %}
{% load url from future %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css"
  href="{% static 'camsite/css/bootstrap.min.css' %}" >
<link rel="stylesheet" type="text/css"
    href="{% static 'camsite/css/stylish-portfolio.css' %}" >
<link rel="stylesheet" type="text/css"
      href="{% static 'camsite/font-awesome/css/font-awesome.min.css' %}" >
<link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" >

        <section id="login" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center lead">
                      {% block title %}{% trans "Password recovery" %}{% endblock %}

                      {% block content %}
                      	<form method="post" action="{{ url }}">
                      		{% csrf_token %}
                      		{{ form.as_p }}
                      		<p><input type="submit" value="{% trans "Recuperar contraseña" %}"></p>
                      	</form>
                      {% endblock %}



                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
