{% extends "password_reset/base.html" %}{% load i18n %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css"
  href="{% static 'camsite/css/bootstrap.min.css' %}" >
<link rel="stylesheet" type="text/css"
    href="{% static 'camsite/css/stylish-portfolio.css' %}" >
<link rel="stylesheet" type="text/css"
      href="{% static 'camsite/font-awesome/css/font-awesome.min.css' %}" >
<link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" >

        <section id="login" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center lead">
											{% block title %}{% trans "New password set" %}{% endblock %}

											{% block content %}
												<p>{% trans "Your password has successfully been reset. You can use it right now on the login page." %}</p>
											{% endblock %}



                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
