{% extends "password_reset/base.html" %}{% load i18n %}{% load url from future %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css"
  href="{% static 'camsite/css/bootstrap.min.css' %}" >
<link rel="stylesheet" type="text/css"
    href="{% static 'camsite/css/stylish-portfolio.css' %}" >
<link rel="stylesheet" type="text/css"
      href="{% static 'camsite/font-awesome/css/font-awesome.min.css' %}" >
<link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" >

        <section id="login" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center lead">
											{% block content %}
												{% if invalid %}{% url "password_reset_recover" as recovery_url %}
													<p>{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
												{% else %}
													<p>{% blocktrans %}Hi, <strong>{{ username }}</strong>. Please choose your new password.{% endblocktrans %}</p>
													<form method="post" action="{% url "password_reset_reset" token %}">
														{% csrf_token %}
														{{ form.as_p }}
														<p><input type="submit" value="{% trans "Set new password" %}"></p>
													</form>
												{% endif %}
											{% endblock %}


                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
